// Font Weight
$light: 300;
$medium: 500;
$bold: 700;

//Colors
$white: #fff;
$soft-black: #222;
$fuchsia: #ff3158;
$light-grey: #f5f4f3;

// Breakpoints
$screen-xxs: 375px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1440px;
$screen-xl: 1920px;

$breakpoints: (
  xss: $screen-xxs,
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
)