.Quantity {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  font-size: 22px;

  .inc, .dec {
    padding: 7px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 35px;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .qty {
    margin: auto 10px;

  }
}