
.nav-link {
  color: #222 !important;
  display: inline-block;
  cursor: pointer;
  font-family: "IBM Plex Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;
}